Repository alacritty/alacritty, pull requests merged in 2018-12, with the labels that each got.

#1760 Request OSX privacy permissions
  assets/osx/Alacritty.app/Contents/Info.plist
Labels: H - macos

#1587 Request user attention when bell received in macOS
  CHANGELOG.md
  src/window.rs
Labels: H - macos, help wanted

#1866 [macos] [doc] add instructions to enable font smoothing
  alacritty_macos.yml
Labels: H - macos, S - docs

#1834 feature: report Windows panics through MessageBox.
  CHANGELOG.md
  src/lib.rs
  src/main.rs
  src/panic.rs
Labels: H - windows

#1857 Make windows config location more sensible
  CHANGELOG.md
  Cargo.toml
  README.md
  src/config.rs
  src/lib.rs
Labels: C - awaiting progress, H - windows, S - config

#1921 Fix line metrics
  font/src/darwin/mod.rs
  font/src/ft/mod.rs
  font/src/rusttype/mod.rs
  src/renderer/lines.rs
Labels: B - bug, S - font
